.loadingModal :global(.ant-modal-footer) {
  padding: 0;
}
.tableContanerWrapper :global(.ant-table-header) {
  position: sticky;
  /* top: 72px; */
  left: 0;
  right: 0;
  z-index: 1000;
}

.tableContanerWrapper :global(.ant-table-container) {
  /* top: 55px; */
}

.tableContanerWrapper :global(.ant-table-content) {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
  scrollbar-gutter: stable;
}

.table-header-clickable {
  cursor: default;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

/* 添加固定行高样式 */

.tableContanerWrapper :global .ant-table-row {
  height: 224px !important;
  max-height: 224px !important;
}

.dotsAnimation {
  display: inline-block;
  width: 24px; /* 设置一个固定宽度，根据需要调整 */
  text-align: left; /* 让点从左侧开始显示 */
  }

.dotsAnimation:after {
  content: '';
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0%, 20% { content: ''; }
  40% { content: '.'; }
  60% { content: '..'; }
  80%, 100% { content: '...'; }
}
