.toolbarItemWrapper {
  height: 28px;
  padding-inline: 10px;
  padding-block: 0;
  line-height: 28px;
  .white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
      brightness(100%) contrast(100%);
  }
  /* TODO: hover时图标颜色改变 */
  /* &:hover {
      background-color: #fff;
    filter: invert(36%) sepia(67%) saturate(1344%) hue-rotate(233deg)
      brightness(90%) contrast(88%);
  } */
}

.toolbarItemWrapper :global .ant-radio-button {
  background-color: #7E2FFF;
}
/* .toolbarItemWrapper :global .ant-radio-group-solid :where(.css-dev-only-do-not-override-161f05s).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: #7E2FFF !important;
  border-color: #7E2FFF !important;
}
.toolbarItemWrapper :global .ant-radio-button-checked {
  background-color: #7E2FFF;
} */
